<p>------------Users----------------</p>
<table>
  <tr *ngFor = "let item of profiles; let i = index">
    <td><label>User {{item.Email}} needs to be validated</label></td>
    <td><a (click)="validateAppUser(i)">  Validate   </a></td>
    
  </tr>
</table>

<p>------------Services----------------</p>
<table>
    <tr *ngFor = "let item of services; let ii = index">
      <td><label>Service {{item.Name}} needs to be validated</label></td>
      <td><a (click)="validateService(ii)">  Validate   </a></td>
      <td><a (click)="deleteService(item.Id)">  Decline   </a></td>
    </tr>
  </table>

