<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Add Vehicle</legend>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Vehicle Type:</label>
      <div class="col-md-4">
        <select id="type" name="type" class="form-control" ngModel #TypeOfVehicle="ngModel">
          <option *ngFor = "let item of typeOfVehicles" [value]="item.Name" id="type" name="type">{{item.Name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Service:</label>  
      <div class="col-md-4">
          <select id="Service" ngModel #Service="ngModel" name="Service" class="form-control">
            <option *ngFor = "let item of services" [value]="item.Name" id="Service" name="Service">{{item.Name}}</option>
          </select>
        </div>
    </div>

    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Model:</label>  
      <div class="col-md-4">
      <input id="model" name="model" type="text" placeholder="" class="form-control input-md" ngModel required #model="ngModel">    
      </div>
    </div>
  
    <div class="row">
      <div class="col col-lg-4 col-lg-push-4">
        <div *ngIf="model.errors && (model.dirty || model.touched)"
              class="alert alert-danger">  
            <div [hidden]="!model.errors.required">
              Model is required!
            </div>
            <div [hidden]="!model.errors.pattern">
              Model form is invalid
            </div>
        </div>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Manufacture:</label>  
      <div class="col-md-4">
      <input id="manufactor" name="manufactor" type="text" placeholder="" class="form-control input-md" ngModel required #manufactor="ngModel">    
      </div>
    </div>
  
    <div class="row">
      <div class="col col-lg-4 col-lg-push-4">
        <div *ngIf="manufactor.errors && (manufactor.dirty || manufactor.touched)"
              class="alert alert-danger">  
            <div [hidden]="!manufactor.errors.required">
              manufactor is required!
            </div>
            <div [hidden]="!manufactor.errors.pattern">
              manufactor form is invalid
            </div>
        </div>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Year:</label>  
      <div class="col-md-4">
      <input id="year" name="year" type="text" placeholder="" class="form-control input-md" ngModel required #year="ngModel">   
      </div>
    </div>
  
    <div class="row">
      <div class="col col-lg-4 col-lg-push-4">
        <div *ngIf="year.errors && (year.dirty || year.touched)"
              class="alert alert-danger">  
            <div [hidden]="!year.errors.required">
              Year is required!
            </div>
            <div [hidden]="!year.errors.pattern">
              Year form is invalid
            </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Price Per Hour:</label>  
      <div class="col-md-4">
      <input id="pricePerHour" name="pricePerHour" type="text" placeholder="" class="form-control input-md" ngModel required #pricePerHour="ngModel">   
      </div>
    </div>
  
    <div class="row">
      <div class="col col-lg-4 col-lg-push-4">
        <div *ngIf="pricePerHour.errors && (pricePerHour.dirty || pricePerHour.touched)"
              class="alert alert-danger">  
            <div [hidden]="!pricePerHour.errors.required">
              Price per hour is required!
            </div>
            <div [hidden]="!pricePerHour.errors.pattern">
              Price form is invalid
            </div>
        </div>
      </div>
    </div>
    
    <!-- File Button --> 
    <form #form = "ngForm" class="groove">
      
        <label class="col-md-4 control-label" for="Images">Images</label>
          <input  type="file" multiple name="photo" ng2FileSelect [uploader]="uploader" enctype = "multipart/form-data"/>
          <button type="button" class ="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled] ="!uploader.getNotUploadedItems().length">Upload Images</button>
    
    </form>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Description:</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="description" name="description" ngModel  #description="ngModel"></textarea>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="submit"  id="singlebutton" name="singlebutton" class="btn btn-success" [disabled]="!f.valid">Add Vehicle</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    