<form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)" class="form-horizontal">
  <fieldset *ngIf="checkIfLogged()">
  
  <!-- Form Name -->
  <legend>Add Service</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Service Name</label>  
    <div class="col-md-4">
    <input id="Name" name="Name" type="text" ngModel #Name="ngModel" placeholder="" required minlength="6" maxlength="42" class="form-control input-md">
    <div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="alert alert-danger">
      <div [hidden]="!Name.errors.required">
        Service name is required!
      </div>
      <div [hidden]="!Name.errors.minlength">
        Service name must be at least 6 characters long.
      </div>
      <div [hidden]="!Name.errors.maxlength">
        Service name cannot be more than 42 characters long.
      </div>
    </div>
    </div>
  </div>
  
  <form #form = "ngForm" class="groove">
  <!-- File Button --> 
    <label class="col-md-4 control-label" for="Logo">Logo</label>
      <input type="file" multiple name="photo" ng2FileSelect [uploader]="uploader" enctype = "multipart/form-data"/>
      <button type="button" class ="btn btn-success btn-s"
      (click)="uploader.uploadAll()"
      [disabled] ="!uploader.getNotUploadedItems().length">Add Logo Image</button>

</form>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Email">E-mail</label>  
    <div class="col-md-4">
    <input id="Email" name="Email" type="text" placeholder="" ngModel required #Email="ngModel" class="form-control input-md"
    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <div *ngIf="Email.errors && (Email.dirty || Email.touched)"
    class="alert alert-danger">  
     <div [hidden]="!Email.errors.required">
       Email is required!
     </div>
     <div [hidden]="!Email.errors.pattern">
       Email form is invalid (example jondoe@gmail.com)
     </div>
   </div>
    </div>
  </div>
  
  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Description">Description</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="Description" name="Description" ngModel #Description="ngModel"></textarea>
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="addServiceButton"></label>
    <div class="col-md-4">
      <button type="submit" id="addServiceButton" name="addServiceButton" class="btn btn-success" [disabled]="!f.valid">Add Service</button>
    </div>
  </div>
  
  </fieldset>
  </form>
  <!--<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of services">
        <tr>
            <td style="width: 250px;"><img width="200" src='{{item.Logo}}' />Slika</td>
            <td>Name: {{item.Name}}</td>
            <td>Email: {{item.Email}}</td>
            <td>Description: {{item.Description}}</td>
        </tr>
    </tbody>
</table>-->