<table>
  <tbody *ngFor = "let vehicle of service.Vehicles; let ii = index">
    <tr>
      <td>
        <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Manufactor:</label>  
              <div class="col-md-4">
                  <label> {{vehicle.Manufactor}}</label>    
              </div>
            </div>
          </td>
    </tr>
    <tr>
      <td><div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Model:</label>  
              <div class="col-md-4">
              <label> {{vehicle.Model}}</label>  
              </div>
            </div>
          </td>
          </tr>
          <tr>
      <td><div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Year:</label>  
        <div class="col-md-4">
        <label> {{vehicle.Year}}</label>  
        </div>
      </div>
  
    </td>
    <tr>
    <td>
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Price Per Hour:</label>  
        <div class="col-md-4">
            <label> {{vehicle.PricePerHour}}</label>   
        </div>
      </div>
    
    </td>
    </tr>
    <tr>
    <td>
      <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Description:</label>
        <div class="col-md-4">                     
            <label> {{vehicle.Description}}</label>
        </div>
      </div>
    </td>
    </tr>
    <tr>
    <td>
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Type of Vehicle:</label>  
          <div class="col-md-4">
              <label>{{vehicle.Type.Name}}</label>   
          </div>
        </div>

      </td>
    </tr>
    <tr><label>Slike</label>
      <td *ngFor = "let im of vehicle.Images" style="width: 250px;"><label class="col-md-4 control-label"></label><img width="200" src='{{im}}' /></td>
    </tr><tr>
      <td>  
        <div  class="form-group" *ngIf="!checkVehicleAvailability(ii)">
            <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <a *ngIf="!checkIfRented(ii) && checkIfActivated()" [routerLink]="['/rentVehicle/' + vehicle.Id]">Rent Vehicle</a>
                    <label *ngIf="checkIfRented(ii)">Vehicle Rented</label>
                </div>
        </div>
        <div  class="form-group" *ngIf="checkVehicleAvailability(ii)">
          <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                  <span>Vehicle is unavailable at this moment!</span>
              </div>
      </div>
    </td></tr>
    
  </tbody>

</table>