<div class="row" >
  <div class="col col-md-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" [routerLink]="['/']">Rent a car</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/showServices']">Services</a></li>
          <li><a [routerLink]="['/showBranches']">Branches</a></li>
          <li><a [routerLink]="['/showVehicles']">Vehicles</a></li>
          <li><a [routerLink]="['/showTypesOfVehicles']">Types Of Vehicle</a></li>
          <li><a *ngIf="checkIfLogged() && checkUserType()" [routerLink]="['/addService']">Add Service</a></li>
          <li><a *ngIf="checkIfLogged() && checkUserType()" [routerLink]="['/addBranch']">Add Branch</a></li>
          <li><a *ngIf="checkIfLogged() && checkUserType()" [routerLink]="['/addVehicle']">Add Vehicle</a></li>
          <li><a *ngIf="checkIfLogged() && checkUserType()" [routerLink]="['/addTypeOfVehicle']">Add Vehicle Type</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!checkIfLogged()"><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li *ngIf="!checkIfLogged()"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a *ngIf="checkIfLogged() && !checkUserType()" [routerLink]="['/profile']"><span class="glyphicon glyphicon-pencil"></span> Profile</a></li>
          <li *ngIf="checkIfLogged()"><a [routerLink]="['/login']" role="button" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>