<h2>Services</h2>
<table class="table table-striped table-dark" >
  <tbody *ngFor = "let item of services; let i = index">
      <tr>
          <td style="width: 250px;"><label class="col-md-4 control-label">Slika:</label><img width="200" src='{{item.Logo}}' /></td>
          <td><div class="form-group">
                <label class="col-md-4 control-label" for="Email">E-mail:</label>  
                <div class="col-md-4">
                <label id="Email" name="Email" type="text">{{item.Email}}</label>
                
                </div>
              </div>
            </td>
            <td><div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Service Name:</label>  
                    <div class="col-md-4">
                    <label id="Name" name="Name" type="text">{{item.Name}}</label>
                    </div>
                  </div>
            </td>
            <td><div class="form-group">
                    <label class="col-md-4 control-label" for="Description">Description:</label>
                    <div class="col-md-4">                     
                      <label id="Description" name="Description" type="text">{{item.Description}}</label>
                    </div>
                  </div>
            </td>
           
          <td>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                          <a class="btn btn-info" [routerLink]="['/showVehiclesOfService/' + item.Id]">Show Vehicles</a>
                        </div>
                </div>
            </td>
      </tr>
  </tbody>
</table>

